﻿@model EventosFranciscoLuna.Models.Evento

@{
    ViewData["Title"] = Model?.IdEvento == null ? "Crear Evento" : "Editar Evento";
}

<h2>@ViewData["Title"]</h2>
<form asp-action="@(Model?.IdEvento == null ? "Create" : "Edit")" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="IdEvento" class="control-label">Código</label>
        @Html.TextBoxFor(model => model.IdEvento, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdEvento, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label asp-for="Nombre" class="control-label">Nombre</label>
        @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        <label asp-for="IdSalon" class="control-label">IdSalon</label>
        @Html.TextBoxFor(model => model.IdSalon, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.IdSalon, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Fecha, new { @class = "" })
        <input class="form-control" id="Fecha" name="Fecha" type="datetime-local" value="@Model.Fecha.ToString("yyyy-MM-ddTHH:mm")">
        @Html.ValidationMessageFor(model => model.Fecha, "", new { @class = "text-danger" })
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.HoraInicio, new { @class = "" })
        <input class="form-control" id="HoraInicio" name="HoraInicio" type="time" value="@Model.HoraInicio">
        @Html.ValidationMessageFor(model => model.HoraInicio, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.HoraFin, new { @class = "" })
        <input class="form-control" id="HoraInicio" name="HoraFin" type="time" value="@Model.HoraFin">
        @Html.ValidationMessageFor(model => model.HoraFin, "", new { @class = "text-danger" })
    </div> 

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <button class="btn btn-outline-primary">@Html.ActionLink("Cancelar", "Index", new { code = "" })</button>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}