﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model IEnumerable<EventosFranciscoLuna.Models.Evento>
@{
    ViewBag.Title = "Eventos";
}

@Html.AntiForgeryToken()
<header class="d-flex justify-content-between" >
    <h2>Eventos</h2>
    @Html.ActionLink("Crear Nuevo Evento", "Edit", new { code = "" }, new {@class= "btn btn-primary" })
</header>
<main>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(m => m.IdEvento)</th>
                <th>@Html.DisplayNameFor(m => m.Nombre)</th>
                <th>@Html.DisplayNameFor(m => m.Fecha)</th>
                <th>@Html.DisplayNameFor(m => m.HoraInicio)</th>
                <th>@Html.DisplayNameFor(m => m.HoraFin)</th>
                <th>@Html.DisplayNameFor(m => m.IdSalon)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.IdEvento)</td>
                    <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha)</td>
                    <td>@Html.DisplayFor(modelItem => item.HoraInicio)</td>
                    <td>@Html.DisplayFor(modelItem => item.HoraFin)</td>
                    <td>@Html.DisplayFor(modelItem => item.IdSalon)</td>

                    <td>
                        <div class="d-flex justify-content-around">
                            <a href="@Url.Action("Edit", "Evento", new { id = item.IdEvento })"
                               class="btn btn-primary">
                                Editar
                                <i class="bi bi-pencil-square"></i>
                            </a>

                            <a href="@Url.Action("Delete", "Evento", new { id = item.IdEvento })"
                               class="btn btn-danger">
                                Eliminar
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</main>